/* hi-res desktops */
@media (min-width: 1281px) {
main, footer {
    width: 768px;
}
}


/* low-res desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
body {
    font-size: 16pt;
}

main, footer {
    width: 768px;
}
}


/* hi-res tablets; landscape */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
main, footer {
    width: 768px;
}
}


/* hi-res tablets; portrait */
@media (min-width: 768px) and (max-width: 1024px) {
body {
    font-size: 15pt;
}

main, footer {
    width: 768px;
}
}


/* low-res tablets, mobile; landscape */
@media (min-width: 481px) and (max-width: 767px) {
body {
    font-size: 12pt;
}
}


/* mobile; portrait */
@media (min-width: 320px) and (max-width: 480px) {
body {
    font-size: 10pt;
}
}