@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  --timing-function-fab-transform: cubic-bezier(0, 0, 0.2, 1);

  --color-accent-h: 215deg;
  --font-size-multiplier: 1;

  --body-padding: 8px;
  --card-padding: 8px;
  --card-border-radius: 4px;
  --icon-size: 24px;
  --footer-height: 56px;
  --sliding-sheet-border-radius: 12px;
  --sliding-sheet-item-border-radius: 4px;
  --narrow-screen-padding-compensation: 0px;

  --color-text-black-high: hsla(0, 0%, 0%, 0.87);
  --color-text-black-medium: hsla(0, 0%, 0%, 0.6);
  --color-icon-black: hsla(0, 0%, 0%, 0.54);

  --color-text-white-high: hsla(0, 0%, 100%, 0.87);
  --color-text-white-medium: hsla(0, 0%, 100%, 0.6);
  --color-icon-white: hsla(0, 0%, 100%, 0.54);

  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
                 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --fab-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
                0 6px 10px 0 rgba(0, 0, 0, 0.14),
                0 1px 18px 0 rgba(0, 0, 0, 0.12);
  --fab-shadow-active: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
                       0 12px 17px 2px rgba(0, 0, 0, 0.14),
                       0 5px 22px 4px rgba(0, 0, 0, 0.12);
}

/* #region Initial definitions */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}

::selection {
  background-color: transparent;
}

html,
body {
  height: 100%;
}

noscript p {
  line-height: 1.5;
}

noscript p + p {
  margin-top: 16px;
}

/* #region Body */

body {
  --color-accent-s: 70%;
  --color-accent-l: 50%;
  --color-accent: hsl(var(--color-accent-h), var(--color-accent-s), var(--color-accent-l));
  --color-accent-lighter: hsl(var(--color-accent-h), var(--color-accent-s), 95%);

  --color-text: var(--color-text-black-high);
  --color-secondary-text: var(--color-text-black-medium);
  --color-text-negative: var(--color-text-white-high);
  --color-icon: var(--color-icon-black);

  --color-body-background-l: 94%;
  --color-body-background: hsl(0, 0%, var(--color-body-background-l));

  --color-card-background-l: 100%;
  --color-card-background: hsl(0, 0%, var(--color-card-background-l));

  --color-destructive-l: 100%;
  --color-destructive: hsl(0, 0%, var(--color-destructive-l));

  --swiper-navigation-background-color: var(--color-accent-lighter);
  --swiper-navigation-background-color-unhovered: hsl(0, 0%, var(--color-card-background-l), 0.7);

  --color-divider-l: 0%;
  --color-divider: hsla(0, 0%, var(--color-divider-l), 0.12);

  --color-footer-background-l: 100%;
  --color-footer-background: hsl(0, 0%, var(--color-footer-background-l));

  --card-header-display: flex;

  --hover-duration: 150ms;
  --sheet-reveal-duration: 250ms;
  --sheet-hide-duration: 200ms;
  --fab-transition-duration: 280ms;
  --fab-opacity-duration: 15ms;

  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
  background: var(--color-body-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--body-padding);
  position: relative;
}

/* #region Body variant: compact - no */

body:not(.compact) .section-icon {
  grid-area: section-icon;
  margin-left: 8px;
}

body:not(.compact) .swiper-outer-container {
  grid-area: 1 / 1 / -1 / -1;
  min-height: 128px;
  margin: calc(-1 * var(--card-padding));
}

body:not(.compact) .swiper-wrapper {
  padding-top: 48px;
  box-sizing: border-box;
}

body:not(.compact) .swiper-slide {
  padding: 0 16px;
  align-items: flex-start;
}

body:not(.compact) button[class^='navigation-button-'] {
  border-radius: var(--card-border-radius);
  justify-self: flex-end;
  z-index: 2;
  padding: 8px;
}

body:not(.compact) button[class^='navigation-button-']:not(:hover):not(:focus) {
  background-color: var(--swiper-navigation-background-color-unhovered);
}

body:not(.compact) .navigation-button-prev {
  background-color: transparent;
  transition-property: background-color;
}

body:not(.compact) .navigation-button-prev.swiper-button-disabled {
  opacity: 0.2;
}

body:not(.compact) .navigation-button-prev:hover,
body.show-outline:not(.compact) .navigation-button-prev:focus {
  background-color: var(--swiper-navigation-background-color);
}

/* #endregion Body variant: compact - no */

/* #region Body variant: compact - yes */

body.compact {
  --card-header-display: none;
}

body.compact .word-section {
  --card-padding: 4px;

  grid-template-rows: auto;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'nav-prev swiper-container nav-next';
  grid-gap: unset;
}

body.compact button:not(.floating-action-button) > span {
  display: none;
}

body.compact .navigation-button-prev {
  background-color: var(--swiper-navigation-background-color);
  opacity: 0;
  transition-property: opacity;
}

/* #endregion Body variant: compact - yes */

/* #region Body variant: dark mode */

body.dark {
  --color-text: var(--color-text-white-high);
  --color-secondary-text: var(--color-text-white-medium);
  --color-text-negative: var(--color-text-black-high);
  --color-icon: var(--color-icon-white);
  
  --color-accent-l: 70%;
  --color-accent-lighter: hsl(var(--color-accent-h), var(--color-accent-s), 7%);
  --color-destructive-l: 70%;
  --color-body-background-l: 7%;
  --color-card-background-l: 12%;
  --color-divider-l: 100%;
  --color-footer-background-l: 18%;
}

/* #endregion Body variant: dark mode */

/* #region Body variant: show outline for keyboard navigation */

body.show-outline button:focus,
body.show-outline a:focus,
body.show-outline .checkbox-label:focus-within {
  outline: 2px dashed var(--color-text);
  outline-offset: -5px;
}

/* #endregion Body variant: show outline for keyboard navigation */

/* #region Body variant: no animations */

body.no-animations {
  --hover-duration: 0.1ms;
  --sheet-reveal-duration: 0.1ms;
  --sheet-hide-duration: 0.1ms;
  --fab-transition-duration: 0.1ms;
  --fab-opacity-duration: 0.1ms;
}

body.no-animations .ripple {
  transition-duration: 0.1ms;
  opacity: 0.2 !important;
}

body.no-animations .ripple.done {
  opacity: 0 !important;
}

/* #endregion Body variant: no animations */

/* #endregion Body */

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

button,
a {
  font-family: inherit;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon {
  display: flex;
}

.icon,
.icon svg {
  width: var(--icon-size);
  height: var(--icon-size);
}

/* #endregion Initial definitions */

/* #region Single section with a word swiper */

.word-section {
  position: relative;
  width: min(100%, 640px);
  box-shadow: var(--card-shadow);
  border-radius: var(--card-border-radius);
  background-color: var(--color-card-background);
  margin-bottom: 8px;
  padding: var(--card-padding);
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: 'section-icon section-header section-header section-header'
                       '.            .              .              .'
                       '.            nav-prev       nav-prev       nav-next';
  grid-gap: 0 8px;
}

.word-section:last-child {
  margin-bottom: 96px;
}

/* Contains the wrapper created by Swiper */
.swiper-outer-container {
  grid-area: swiper-container;
  overflow: hidden;
  margin: calc(-1 * var(--card-padding)) 0;
}

/* Element created by Swiper */
.swiper-container {
  height: 100%;
  cursor: ew-resize;
}

.swiper-wrapper {
  min-height: calc(24px * var(--font-size-multiplier));
  will-change: transform;
}

.swiper-slide {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: calc(20px * var(--font-size-multiplier));
  line-height: 1.25;
  letter-spacing: 0.15px;
  word-break: break-word;
  padding-left: 8px;
}

.header-container {
  grid-area: section-header;
  display: var(--card-header-display);
  align-items: center;
  margin-left: 8px;
  font-size: 16px;
  letter-spacing: 0.15px;
  word-break: break-word;
  color: var(--color-secondary-text);
  height: 32px;
}

.navigation-button-prev {
  grid-area: nav-prev;
}

.navigation-button-next {
  grid-area: nav-next;
}

.section-icon {
  grid-area: nav-prev;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-icon);
  pointer-events: none;
  align-self: center;
  justify-self: center;
}

[class^='navigation-button-'] {
  color: var(--color-accent);
  font-weight: 500;
  padding: 12px;
  border-radius: 48px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  transition-duration: var(--hover-duration);
  transition-timing-function: var(--timing-function);
}

[class^='navigation-button-'] > span {
  text-transform: uppercase;
  font-size: 14px;
  margin: 1px 6px 0 6px;
  letter-spacing: 1.25px;
}

[class^='navigation-button-'] > .icon {
  transform: scale(1.25);
}

.navigation-button-next {
  transition-property: background-color;
  background-color: transparent;
}

.navigation-button-next:hover,
body.show-outline .navigation-button-next:focus {
  background-color: var(--swiper-navigation-background-color);
}

.swiper-button-disabled {
  pointer-events: none;
}

.navigation-button-prev:not(.swiper-button-disabled):hover,
body.show-outline .navigation-button-prev:not(.swiper-button-disabled):focus {
  opacity: 1;
}

/* #endregion Single section with a word swiper */

/* #region Footer */

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: var(--footer-height);
  background-color: var(--color-footer-background);
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.2); /* TODO: shadow from material design */
  visibility: hidden;
}

footer.visible {
  visibility: visible;
}

#footer-inner-container {
  position: relative;
  width: min(100%, 640px);
  height: 100%;
  padding: 0 var(--body-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.floating-action-button {
  --fab-size: 48px;

  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
  height: var(--fab-size);
  padding: 0 12px 0 20px;
  z-index: 100;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 48px;
  box-shadow: var(--fab-shadow);
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--color-accent);
  transform: scale(0) translate3d(-50%, -50%, 0);
  transform-origin: 0 0;
  opacity: 0;
  transition: box-shadow var(--fab-transition-duration) var(--timing-function),
              opacity var(--fab-opacity-duration) linear calc(2 * var(--fab-opacity-duration)),
              transform var(--fab-transition-duration) var(--timing-function-fab-transform);
  will-change: opacity, transform;
}

.floating-action-button:active {
  box-shadow: var(--fab-shadow-active);
}

.floating-action-button:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 48px;
  background-color: currentColor;
  transition: opacity var(--hover-duration) var(--timing-function);
  opacity: 0;
}

.floating-action-button:hover:after,
body.show-outline .floating-action-button:focus:after {
  opacity: 0.06;
}

.floating-action-button.visible {
  transform: scale(1) translate3d(-50%, -50%, 0);
  opacity: 1;
}

.floating-action-button span {
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  margin: 1px 8px 0 0;
  letter-spacing: 1.25px;
}

#button-advance-all {
  color: var(--color-text-negative);
  background-color: var(--color-accent);
}

#button-close-sheet {
  color: var(--color-text-black-high);
  background-color: var(--color-destructive);
}

.circular-button {
  position: relative;
  z-index: 5;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 48px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-accent);
  transition-property: background-color;
  transition-duration: var(--hover-duration);
  transition-timing-function: var(--timing-function);
}

.circular-button:hover,
body.show-outline .circular-button:focus {
  background-color: var(--swiper-navigation-background-color);
}

.circular-button:disabled {
  pointer-events: none;
  opacity: 0.2;
}

footer .circular-button {
  color: var(--color-icon);
}

/* #endregion Footer */

/* #region Sliding panel (settings, about, ...) */

#sliding-sheets-container {
  z-index: 9;
}

#scrim {
  z-index: 8;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  pointer-events: none;
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--sheet-hide-duration);
  transition-timing-function: var(--timing-function);
}

#scrim.visible {
  transition-duration: var(--sheet-reveal-duration);
  opacity: 0.58;
  pointer-events: initial;
}

.sliding-sheet {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: calc(100% - 56px);
  overflow-y: auto;
  overscroll-behavior-y: contain;
  background-color: var(--color-card-background);
  padding-bottom: calc(40px + var(--footer-height));
  border-top-left-radius: var(--sliding-sheet-border-radius);
  border-top-right-radius: var(--sliding-sheet-border-radius);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  pointer-events: none;
  transform: translate3d(0, calc(100% - var(--footer-height)), 0);
  transition-property: transform;
  transition-duration: var(--sheet-hide-duration);
  transition-timing-function: var(--timing-function);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.sliding-sheet.visible {
  transition-duration: var(--sheet-reveal-duration);
  pointer-events: initial;
  transform: translate3d(0, 0, 0);
}

.sliding-sheet-content {
  width: min(100%, 640px);
  height: 100%;
  margin: 0 calc(var(--body-padding) - var(--narrow-screen-padding-compensation));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.sliding-sheet-header {
  width: 100%;
  height: 56px;
  padding-left: 26px;
  display: flex;
  align-items: center;
  color: var(--color-secondary-text);
}

.sliding-sheet-text {
  width: 100%;
  padding: 8px 26px;
  line-height: 1.5;
}

.checkbox-label {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 16px 26px;
  cursor: pointer;
  border-radius: var(--sliding-sheet-item-border-radius);
}

.checkbox-label:hover,
body.show-outline .checkbox-label:focus-within {
  background-color: var(--swiper-navigation-background-color);
}

.checkbox-label > span {
  margin-left: 32px;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
}

.checkbox-icon,
.decorative-icon {
  color: var(--color-icon);
}

.checkbox-icon .checked {
  color: var(--color-accent);
}

.checkbox-label input:checked ~ .checkbox-icon .unchecked,
.checkbox-label input:not(:checked) ~ .checkbox-icon .checked {
  display: none;
}

#scale-control-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 32px;
}

#scale-control-container > span:first-of-type {
  margin: 0 32px;
}

#scale-control-value {
  text-align: center;
  min-width: 48px;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--color-divider);
  border: none;
  margin: 8px 0;
}

.separator:first-of-type {
  margin-top: 0;
}

.link-with-icon {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px 26px;
  text-decoration: none;
  color: var(--color-text);
  border-radius: var(--sliding-sheet-item-border-radius);
  position: relative;
}

.link-with-icon:hover,
body.show-outline .link-with-icon:focus {
  background-color: var(--swiper-navigation-background-color);
}

.link-with-icon .icon {
  color: var(--color-icon);
}

.link-with-icon span {
  margin-left: 32px;
}

/* #endregion Sliding panel (settings, about, ...) */

/* #region Media queries */

@media (max-width: 640px) {
  :root {
    --narrow-screen-padding-compensation: var(--body-padding);
    --sliding-sheet-item-border-radius: 0px;
  }

  .floating-action-button {
    --fab-size: 56px;

    width: var(--fab-size);
    padding: 0;
  }

  .floating-action-button span {
    display: none;
  }
}

@media (max-width: 256px) {
  button > span {
    display: none;
  }
}

/* #endregion Media queries */

/* #region Accessibility */

.aria-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* #endregion Accessibility */
