@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --hover-duration: 120ms;

  --color-accent-h: 215deg;
  --color-accent-s: 70%;
  --color-accent-l: 50%;
  --color-accent: hsl(var(--color-accent-h), var(--color-accent-s), var(--color-accent-l));
  --color-accent-lighter: hsl(var(--color-accent-h), var(--color-accent-s), 95%);

  --gradient-under-slides-size: 1rem;
  --gradient-under-slides: linear-gradient(to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) var(--gradient-under-slides-size),
    rgba(255, 255, 255, 0) calc(100% - var(--gradient-under-slides-size)),
    rgba(255, 255, 255, 1) 100%
  );

  --card-padding: 0.5rem;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
                 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --card-background-color: white;
  --card-icon-color: var(--color-accent);
  --swiper-navigation-color: var(--color-accent);
  --swiper-navigation-background-color: var(--color-accent-lighter);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  /* box-shadow: 0 0 0 1px red; */
}

::selection {
  background-color: transparent;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  color: #333;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.word-section {
  position: relative;
  width: min(100%, 40rem);
  box-shadow: var(--card-shadow);
  border-radius: 0.25rem;
  background-color: var(--card-background-color);
  margin-bottom: 0.5rem;
  padding: var(--card-padding);
  display: grid;
  /* grid-template-rows: auto auto; */
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'nav-prev swiper-container nav-next';
}


/* Contains the wrapper created by Swiper */
.swiper-my-container {
  grid-area: swiper-container;
  overflow: hidden;
  margin: calc(-1 * var(--card-padding)) 0;
}

/* Element created by Swiper */
.swiper-container {
  height: 100%;
}

/* TODO: Not used anymore? */
.swiper-overlay {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background: var(--gradient-under-slides);
  z-index: 2;
  pointer-events: none;
}

.swiper-wrapper {
  cursor: ew-resize;
  min-height: 2rem;
}

.swiper-slide {
  display: flex;
  align-items: center;
  /* justify-content: center;
  text-align: center; */
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.25;
  word-break: break-word;
  padding: 0 var(--gradient-under-slides-size);
}

.header-container {
  grid-area: header;
  opacity: 0.7;
}

.navigation-button-prev {
  grid-area: nav-prev;
}

.navigation-button-next {
  grid-area: nav-next;
}

.section-icon {
  grid-area: nav-prev;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  color: var(--card-icon-color);
  font-weight: 500;
  pointer-events: none;
}

.icon {
  display: flex;
}

[class^='navigation-button-'] {
  text-transform: uppercase;
  color: var(--swiper-navigation-color);
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-button-next {
  transition-property: background-color;
  transition-duration: var(--hover-duration);
  background-color: transparent;
}

.navigation-button-next:hover,
.navigation-button-next:focus {
  background-color: var(--swiper-navigation-background-color);
}

.swiper-button-disabled {
  pointer-events: none;
}

/* Show navigation button Prev when it's hovered */
.navigation-button-prev {
  background-color: var(--swiper-navigation-background-color);
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--hover-duration);
}

.navigation-button-prev:not(.swiper-button-disabled):hover,
.navigation-button-prev:not(.swiper-button-disabled):focus {
  opacity: 1;
}
